#title {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
}

p.box {
  height: 28vh;
  padding-top: 2vh;
  text-align: center;
  outline: 1px grey solid;
  margin: 1vh;
  word-wrap: break-word;
  font-size: 90%;
}

p.player_one {
  background-image: radial-gradient(rgba(222, 222, 222, 0), rgba(33, 174, 255, 0.53) 96%);
}

p.player_two {
  background-image: radial-gradient(rgba(222, 222, 222, 0), rgba(255, 0, 0, 0.53) 96%);
}

p.player_turn {
  outline: none;
  height: 12vh;
  padding-top: 13.5vh;
  font-size: 170%;
  /*text-shadow: 1px 1px 1px #000;*/
  font-weight: bold;
}

p.hide {
  visibility: hidden;
}

div.control-box {
  height: 98vh;
  overflow: scroll;
}

.player_box {
  outline: 1px grey solid;
}
.player_text {
  text-align: center;
}
.player_one_text {
  color: rgba(33, 174, 255, 0.93);
}
.player_two_text {
  color: rgba(255, 0, 0, 0.93);
}

div.form-wrapper {
  padding: 0.5em;
}

h4 {
  margin-top: 0.2em;
  margin-bottom: 0.05em;
}

div.radio-parent {
  text-align: center;
}

p.player-label {
  margin: 0.2em;
}

div.progress-bar {
  background: teal;
  width: 0%;
  height: 1em;
}

input#agent_speed {
  width: 90%;
}