p.box {
  height: 15vh;
  padding-top: 15vh;
  text-align: center;
  margin: 1vh;
  border-radius: 25px;
  border: 2px grey solid;
  padding: 20px;  
    
}

p.player_one {
  background-image: radial-gradient(rgba(222, 222, 222, 0), rgba(33, 174, 255, 0.53) 96%);
}

p.player_two {
  background-image: radial-gradient(rgba(222, 222, 222, 0), rgba(255, 0, 0, 0.53) 96%);
}

p.player_turn {
  outline: none;
  height: 12vh;
  padding-top: 9vh;
  font-size: 170%;
  /*text-shadow: 1px 1px 1px #000;*/
  font-weight: bold;
}

p.hide {
  visibility: hidden;
}

/*p.marble {
      width: 25px;
      height: 25px;
      border-radius: 15px;
      background: red;
    } ~~! good marble~~! */

div.board-upper {
    background-color: burlywood;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

div.board-center {
    background-color: burlywood;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

div.board-lower {
    background-color: burlywood;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
